$primary-font: 'Proxima Nova';

$white: #fff;
$yellow: #fee600;
$grey: #eeeeee;
$dark-grey: #bbbbbb;
$blue: #3483fa;
$dark-blue: #2968c8;
$black: #000;

// Breakpoints
$screen-xs: 560px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;