.product{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    border-bottom: solid 1px $grey;
    text-decoration: none;
    color: $black;
    transition: color 0.3s ease;
    @media (min-width: $screen-md) {
        column-gap: 30px;
        padding: 20px 0px;
    }
    &:hover{
        color: $blue;
    }
    &__image-container{
        width: 20%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__info{
        padding: 10px 10px 20px 0px;
        display: flex;
        flex-direction: column;
        width: 80%;
        @media (min-width: $screen-md) {
            flex-direction: row;
            column-gap: 30px;
        }
        h3{
            margin-top: 0px;
            font-size: 16px;
        }
        &__main{
            width: 70%;
            span{
                margin-left: 10px;
                background-color: $green;
                padding: 5px 5px;
                border-radius: 100%;
                font-size: 10px;
            }
        }
        &__location{
            min-width: 100px;
            span{
                font-size: 12px;
                color: $dark-grey;
            }
            @media (min-width: $screen-md) {
                width: 30%;
            }
        }

    }
}